<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>student journal on-line</title>
        <link rel="import" href="/public/customeEements/page-header/page-header.html">
        <link rel="import" href="/public/customeEements/sticker.html">
        <link rel="import" href="/public/customeEements/modalWindow/modal-window.html">

        <link rel="stylesheet"  href="/public/style/addGroup.css">
        <link rel="stylesheet"  href="/public/style/timetable.css">
        <link rel="stylesheet"  href="/public/style/base.css">
        <link rel="stylesheet"  href="/public/style/user.css">
    </head>
    <body>
    <modal-window ></modal-window>
        <page-header>
                <span slot="first-li"></span> 
                <span slot="last-li"></span>
        </page-header>
    <% if (main === 'user') { %>
        <% include ./main/mainUser.ejs %> 
    <% } %>
    <% if (main === 'timetable') { %>
        <%- include('main/timetable.ejs', {teachers:teachersTimetable}) %>
    <% } %>     
    </body>
    <footer>

    </footer>
    <script type="module" src="/public/script/timetable.js"></script>
</html>